# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Sensitive variables and credentials
terraform/aws/*.tfvars
terraform/gcp/*.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Mac/OSX system file, with the folder metadata
.DS_Store

# Ignore tmp folder
/tmp